@model AspRecipeStorage.Models.DishType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DishType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.AuthorizeActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.AuthorizeActionLink("Back to List", "Index")
</p>
