@model AspRecipeStorage.Models.Instrument

@{
    ViewBag.Title = "Удаление инструмента";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">
        <h3>Вы уверены что хотите удалить выбранный инструмент?</h3>
        <hr />
        <div>
            <dl class="dl-horizontal">
                <dt>Название</dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Удалить" class="btn btn-sm btn-warning" /> |
                    @Html.ActionLink("Назад к списку", "Index")
                </div>
            }
        </div>
    </div>
</div>